

/*Variables*/







/*MIXINS*/

@mixin flex ($direction, $justify, $align) {

    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    
}





/*IMPORTS*/

@import "globals";
@import "nav";
@import "introSection";
@import "animatedSection";